In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("diseases_data.csv")
df.head()

         Disease     Category  Tenure
0  Heart Disease      Serious       1
1    Common Cold  Not Serious       0
2       Diabetes      Serious       1
3      Influenza  Not Serious       0
4         Cancer      Serious       1

In [4]:
df.info

<bound method DataFrame.info of             Disease     Category  Tenure
0     Heart Disease      Serious       1
1       Common Cold  Not Serious       0
2          Diabetes      Serious       1
3         Influenza  Not Serious       0
4            Cancer      Serious       1
..              ...          ...     ...
93     Brain Cancer      Serious       1
94          Sarcoma      Serious       1
95       Eye Cancer      Serious       1
96  Cervical Cancer      Serious       1
97   Uterine Cancer      Serious       1

[98 rows x 3 columns]>

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Disease   98 non-null     object
 1   Category  98 non-null     object
 2   Tenure    98 non-null     int64
dtypes: int64(1), object(2)
memory usage: 2.4+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [6]:
df.columns

Index(['Disease', 'Category', 'Tenure'], dtype='object')

In [66]:
df['Category'] = encoder.fit_transform(df['Category'])
df.head()

         Disease  Category  Tenure target_disease
0  Heart Disease         1       1  heart disease
1    Common Cold         0       0    common cold
2       Diabetes         1       1       diabetes
3      Influenza         0       0      influenza
4         Cancer         1       1         cancer

In [8]:
encoder.fit_transform(df['Tenure'])

array([1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [67]:
y = []
for item in df['Disease']:
    item = item.lower()
    y.append(item)
df['target_disease'] = y[:]
df.head()

         Disease  Category  Tenure target_disease
0  Heart Disease         1       1  heart disease
1    Common Cold         0       0    common cold
2       Diabetes         1       1       diabetes
3      Influenza         0       0      influenza
4         Cancer         1       1         cancer

In [68]:
disease = str(input("Enter your medical condition: ")).lower()
value = int(df[df['target_disease']== disease].index[0])
res = df.at[value, 'Tenure']
target = df.at[value, 'Category']
if(res == 1):
    print("Chronic Medical Condition")
elif(res == 0):
    print("Acute Medical Condition")
if(target == 1):
    print("Urgent Medical assisstance required!")
elif(target == 0):
    print("Urgent Medical assisstance not required")

Enter your medical condition: Cancer
Chronic Medical Condition
Urgent Medical assisstance required!